/* .sidebar-brand {
  color: black !important;
} */

/* .navbar-brand {
  color: black !important;
} */

.nav-link {
  color: grey !important;
}

.nav-link.active {
  color: black !important;
}

/* not active */
.nav-link:not(.active) {
  color: grey !important;
}
