{% macro componentTable(components, rooms, showModal, compType) -%}
<table class="table">
  <thead>
    <th>Type</th>
    <th>Id</th>
    <th>Name</th>
    <th>GPIO Pin</th>
    <th>Room</th>
    <th>
      <a href="/components/add" type="button" class="btn btn-primary"> Add </a>
    </th>
  </thead>
  <tbody>
    {% for component in components %}
    <tr>
      <td>{{component.type}}</td>
      <td>{{component.id}}</td>
      <td>{{component.name}}</td>
      <td>{{component.gpio}}</td>
      <td>
        {% for room in rooms %} {% if room.id == component.room %} {{room.name}}
        {% endif %} {% endfor %}
      </td>
      <td>
        <!-- <button class="btn btn-primary" onclick="toggleModal({{component.id}})">Edit</button> -->
        <a
          href="components/edit/{{component.type}}/{{component.id}}"
          class="btn btn-primary"
          >Edit</a
        >
        <a
          href="components/delete/{{component.type}}/{{component.id}}"
          class="btn btn-primary"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="title" class="modal-title">Components</h5>
        <a href="/components" type="button" class="btn-close"></a>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value=""
              placeholder="Name"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">GPIO</label>
            <select id="gpio" name="gpio" class="form-select">
              <option value="7">7</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="22">22</option>
              <option value="29">29</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="40">40</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Room</label>
            <select id="room" name="room" class="form-select">
              {% for room in rooms %}
              <option value="{{room.id}}">{{room.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div id="type-div" class="mb-3">
            <label class="form-label">Type</label>
            <select id="type" name="type" class="form-select">
              <option value="light">Light</option>
              <option value="sensor">Light Sensor</option>
            </select>
          </div>
          <div class="mb-3" id="connected-div">
            <label class="form-label">Connected to</label>
            <select id="connected" name="connected" class="form-select">
              {% for component in components %} {% if component.type == 'light'
              %}
              <option value="{{component.id}}">{{component.name}}</option>
              {% endif %} {% endfor %}
            </select>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    const modal = new bootstrap.Modal(document.getElementById("modal"), {
    backdrop: 'static',
    keyboard: false
  });
    const showModal = {{showModal|int}}
    const compType = "{{compType|string}}"
    let name = document.getElementById("name");
    let room = document.getElementById("room");
    let gpio = document.getElementById("gpio")
    let type = document.getElementById("type")
    let connected = document.getElementById("connected")
    let connectedDiv = document.getElementById("connected-div")
    let typeDiv = document.getElementById("type-div")
    const components = {{components|tojson}}

    if(showModal > -1){ // Edit existing component
      title.innerHTML = "Edit Component";
      console.log(compType)
      let component = components.find(cmp => {return cmp.id == showModal && cmp.type == compType}) // Find corresponding component
      name.value = component.name
      gpio.value = component.gpio
      room.value = component.room
      type.value = component.type
      if(component.type == 'sensor'){
        connectedDiv.style.display = ''
        connected.value = component.connected
      }else{
        connectedDiv.style.display = 'none'
      }
      typeDiv.style.display = 'none'
      modal.toggle()
    }else if(showModal > -2){ // Add new component
      title.innerHTML = "Add Component";
      name.value = "";
      gpio.value = "7";
      room.value = "1";
      type.value = "light"
      connected.value = "0"
      connectedDiv.style.display = "none";
      typeDiv.style.display = ''
      modal.toggle()
    } // Else don't show modal

    type.addEventListener("change", function() {
    if(type.value == "sensor")
    {
      connectedDiv.style.display = "";
    }else{
      connectedDiv.style.display = "none";
    }
  });
</script>

{%- endmacro %}
