{% macro componentTable(components, rooms, showModal) -%}
<table class="table">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>GPIO Pin</th>
    <th>Room</th>
    <th>
      <a href="/components/add" type="button" class="btn btn-primary">
        Add
      </a>
    </th>
  </thead>
  <tbody>
    {% for component in components %}
    <tr>
      <td>{{component.id}}</td>
      <td>{{component.name}}</td>
      <td>
        <select class="form-select">
          {% for i in range(17) %}
          <option {{ 'selected' if i == component.gpio|int }} value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </td>
      <td>
          <select class="form-select">
          {% for room in rooms %}
          <option {{ 'selected' if room.id|int == component.room|int }} value="{{room.id}}">{{room.name}}</option>
          {% endfor %}
          <option value="{{-1}}">Edit Rooms...</option>
        </select>
    </td>
      <td>
        <!-- <button class="btn btn-primary" onclick="toggleModal({{component.id}})">Edit</button> -->
        <a href="components/edit/{{component.id}}" class="btn btn-primary">Edit</a>
        <a href="components/delete/{{component.id}}" class="btn btn-primary">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="title" class="modal-title">Components</h5>
        <a
          href="/components"
          type="button"
          class="btn-close"
        ></a>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value=""
              placeholder="Name"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">GPIO</label>
            <select id="gpio" name="gpio" class="form-select">
              {% for i in range(17) %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Room</label>
            <select id="room" name="room" class="form-select">
              {% for room in rooms %}
              <option value="{{room.id}}">{{room.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = new bootstrap.Modal(document.getElementById("modal"), {
  backdrop: 'static',
  keyboard: false
});
  const showModal = {{showModal|int}}
  let name = document.getElementById("name");
  let room = document.getElementById("room");
  let gpio = document.getElementById("gpio")
  const components = {{components|tojson}}

  if(showModal > -1){ // Edit existing component
    title.innerHTML = "Edit Component";
    let component = components.find(cmp => {return cmp.id == showModal})
    name.value = component.name
    gpio.value = component.gpio
    room.value = component.room
    modal.toggle()
  }else if(showModal > -2){ // Add new component
    title.innerHTML = "Add Component";
    name.value = "";
    gpio.value = "0";
    room.value = "1";
    modal.toggle()
  }else{ // Don't show modal

  }
</script>

{%- endmacro %}