{% macro smartComponents(components, selectedRoom) -%}

<!-- Card -->
<div class="row">
  <!-- prettier-ignore -->
  {% for component in components %} 
  {% if selectedRoom == 0 or component.room|int == selectedRoom|int %}
  <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 pb-4">
    <div class="card card-default" style="margin: 10px">
      <div
        class="card-header container-fluid"
        style="background: white; border-style: none"
      >
        <div class="row">
          <div class="col-md-10">
            <i
              class="fas fa-lightbulb text-primary"
              style="font-size: 35px"
            ></i>
          </div>
          <div class="col-md-2 float-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox"
              id="flexSwitchLights" name="lights" {{'checked' if
              component.status == 'ON' }} onchange="Postmanual(this)" />
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{component.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Light</h6>
      </div>
      <div class="card-footer" style="background-color: white">
        <div class="row">
          <div class="col-md-10">Auto</div>
          <div class="col-md-2 float-right">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchAutomatic"
                name="automatic"
                onchange="PostAutomatic(this)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
<script>
  function Postmanual(checkboxElem) {
    console.log("Light toggled manually");
    var xhr = new XMLHttpRequest();
    yourUrl = "http://localhost:8080/light";
    xhr.open("POST", yourUrl, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    //alert("PostManual is Used and status of check is: " + checkboxElem.checked)
    if (checkboxElem.checked) {
      xhr.send(
        JSON.stringify({
          switchTo: "True",
        })
      );
    } else {
      xhr.send(
        JSON.stringify({
          switchTo: "False",
        })
      );
    }
  }

  function PostAutomatic(checkboxElem) {
    console.log("Light toggled automatically");
    if (document.getElementById("flexSwitchAutomatic").checked == true) {
      document.getElementById("flexSwitchLights").disabled = true;
    } else if (
      document.getElementById("flexSwitchAutomatic").checked == false
    ) {
      document.getElementById("flexSwitchLights").disabled = false;
    }
    var xhr = new XMLHttpRequest();
    yourUrl = "http://localhost:8080/lightsensor";
    xhr.open("POST", yourUrl, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    //alert("PostManual is Used and status of check is: " + checkboxElem.checked)
    if (checkboxElem.checked) {
      xhr.send(
        JSON.stringify({
          switchTo: "True",
        })
      );
    } else {
      xhr.send(
        JSON.stringify({
          switchTo: "False",
        })
      );
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          if (xhr.response == "0") {
            document.getElementById("flexSwitchLights").checked = false;
          } else if (xhr.response == "1") {
            document.getElementById("flexSwitchLights").checked = true;
          }
        }
      };
    }
  }
</script>

{%- endmacro %}
