<!-- prettier-ignore -->
{% macro userTable(users, showModal)-%}
<table class="table">
  <thead>
    <th>Id</th>
    <th>Username</th>
    <th>Type</th>
    <th>
      <a href="/users/add" class="btn btn-primary">Add</a>
    </th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.type}}</td>
      <td>
        <a href="/users/edit/{{user.id|int}}" class="btn btn-primary">Edit</a>
        <a href="/users/delete/{{user.id}}" class="btn btn-primary">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="title" class="modal-title">User</h5>
        <a href="/users" class="btn-close"></a>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value=""
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              value=""
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              value=""
              placeholder="Password"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Role</label>
            <select id="type" name="type" class="form-select">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = new bootstrap.Modal(document.getElementById("modal"), {
  backdrop: 'static',
  keyboard: false});

  const showModal = {{showModal|int}}
  const users = {{users|tojson}}

  let email = document.getElementById("email");
  let username = document.getElementById("username");
  let password = document.getElementById("password");
  let type = document.getElementById("type");

    if(showModal > -1){ // Edit existing user
      title.innerHTML = "Edit User";
      let user = users.find(usr => {return usr.id == showModal})
      email.value = user.email
      username.value = user.username
      password.value = user.password
      type.value = user.type // ! Bug: database adds whitespace after each entry
      modal.toggle()
  }else if(showModal > -2){ // Add new component
      title.innerHTML = "Add User";
      email.value = "";
      username.value = "";
      password.value = "";
      type.value = "user"
      modal.toggle()
  }
</script>

{%- endmacro %}
