<!-- prettier-ignore -->
{% macro userTable(users)-%}
<table class="table">
  <thead>
    <th>Id</th>
    <th>Username</th>
    <th>Type</th>
    <th>
      <button type="button" class="btn btn-primary" onclick="toggleModal(-1)">
        Add
      </button>
    </th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.type}}</td>
      <td>
        <button class="btn btn-primary" onclick="toggleModal({{user.id|int}})">
          Edit
        </button>
        <a href="users/delete/{{user.id}}" class="btn btn-primary">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="title" class="modal-title">User</h5>
        <button
          type="button"
          class="btn-close"
          onclick="toggleModal(-2);"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value=""
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              value=""
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              value=""
              placeholder="Password"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Type</label>
            <select id="type" name="type" class="form-select">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = new bootstrap.Modal(document.getElementById("modal"));

  async function toggleModal(id) {
    let title = document.getElementById("title");
    let username = document.getElementById("username");
    let password = document.getElementById("password");
    let type = document.getElementById("type");

    if (id > -1) {
      // Edit
      title.innerHTML = "Edit User";
      let response = await fetch("");
      let data = response.data;
    } else if (id === -1) {
      // Add
      title.innerHTML = "Add User";
      username.value = "";
      password.innerHTML = "";
      type.value = "user";
    }

    modal.toggle();
  }
</script>

{%- endmacro %}
